*{
    margin: 0;
    padding: 0;
}

.grid::after{
    content: '';
    display: block;
    clear: both;
}

.grid .col{
    display: block;
    height: 10rem;
    width: 10rem;
    margin: 1rem;
    background-color: red;
    float: left;
}