/* GLOBAL */
:root{
    --primary-color: #0a1128;
    --white-color: #ffffff;
    --crimson-color: crimson;
    --gap: 3rem;

    --container-width-small: 30rem;

    --spacings-large: 5rem;
    --spacings-xlarge: 8rem;
    --spacings-medium: 3rem;
}
*{
      margin: 0;
      padding: 0;
}

html{
      font-size: 62.5%;
      scroll-behavior: smooth;
}

body{
      font-family: 'Open Sans', sans-serif;
      font-size: 1.6rem;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
    
h1{
      font-size: 6rem;
      text-transform: uppercase;
}
    
h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

table{
    border-collapse: collapse;
}

table td, table th{
    border: 1px solid #eee;
    padding: 5px 10px;
    text-align: left;
}

/* HEADER */
header{
    background-color: var(--white-color);
    width: 100%;
    position: fixed;
    top: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    height: 5rem;
    margin: 0 auto;
}

.title{
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 2rem;
}

.nav-list-links > li{
    display: inline;
    margin-left: 5rem;
}

.nav-link{
    color: var(--primary-color);
    position: relative;
}

.nav-link::before{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--crimson-color);
    transition: all 300ms ease-in-out;
}

.nav-link:hover::before{
    width: 100%;
    left: 0;
}

/* MAIN */
.container-content{
    width: 1200px;
    height: 100vh;
    margin: 0 auto;
    padding: var(--gap);
}

/* home */
.container-home{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}

.container-home > .home-contents{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

.home-text, .home-image{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-image > img{
    height: auto;
    width: 100%;
}

/* intro */
.intro-content > .text-content{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 10rem;
    margin: 0 10rem 0 10rem;
    color: var(--primary-color);
    font-size: 2.5rem;
}

.intro-content > .text-content > h2{
    margin: 0 0 var(--spacings-medium);
}

.intro-content > .text-content > p{
    margin: 0 0 var(--spacings-medium);
}

/* top3 */
.container-top3{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}
.top3-content{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}
#top3-summary{
    margin-bottom: var(--gap);
}
#top3-jobs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#top3-jobs > div{
    padding: 2rem;
}

/* Gallery */
.gallery-content{
    display: flex;
    justify-content: center;
    flex-flow: column;
    color: var(--primary-color);
}
.gallery-summary{
    margin-bottom: var(--gap);
}
.gallery-img{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.gallery-img > div{
    margin: 1rem;
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    min-width: 200px;
    min-height: 200px;
}
/* Work */
.container-work{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}

.work-content{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.recent-jobs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.recent-jobs >div{
    padding: var(--gap);
}

/* Price */
.container-price{
    color: var(--primary-color);
}

/* Contact */
.container-contact{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}
/*  */
.main-bg {
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
}

.main-content {
    max-width: 1200px;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

/* FOOTER */
footer{
    background-color: var(--white-color);
    color: var(--primary-color);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
