/* GLOBAL */
:root{
    font-size: 62.5%;

    --primary-color: #0a1128;
    --white-color: #ffffff;
    --crimson-color: crimson;

    --gap: 5rem;

    --container-width-small: 30rem;
    --container-images: 36rem;

    --spacings-large: 5rem;
    --spacings-xlarge: 8rem;
    --spacings-medium: 3rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
}
    
h1{
    font-size: 6rem;
    text-transform: uppercase;
}
    
h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

table{
    border-collapse: collapse;
}

table td, table th{
    border: 0.1rem solid #eee;
    padding: 0.5rem 1rem;
    text-align: left;
}

/* HEADER */
header{
    background-color: var(--white-color);
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    height: 5rem;
    margin: 0 auto;
}

.title{
    color: var(--primary-color);
    font-weight: bolder;
    font-size: 2rem;
}

.nav-list-links > li{
    display: inline;
    margin-left: 5rem;
}

.nav-link{
    color: var(--primary-color);
    position: relative;
}

.nav-link::before{
    content: '';
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--crimson-color);
    transition: all 300ms ease-in-out;
}

.nav-link:hover::before{
    width: 100%;
    left: 0;
}

/* MAIN */
.container-content{
    max-width: 120rem;
    min-height: 100vh;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;
}

/* home */
.container-home{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}

.home-content{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    padding: var(--gap);
}

.home-text, .home-image{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.home-image > img{
    height: auto;
    width: 100%;
}

/* intro */
.intro-content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 30rem;
    color: var(--primary-color);
    font-size: 2.5rem;
}

.intro-content > h2{
    margin: 0 0 var(--spacings-medium);
}

.intro-content > p{
    margin: 0 0 var(--spacings-medium);
}
/* top3 */
.container-top3{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}

.top3-content{
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

#top3-summary{
    margin-bottom: var(--gap);
}

#top3-jobs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    counter-reset: top3-jobs;
}

#top3-jobs > div{
    padding: 2rem;
}

#top3-jobs > div > h3{
    display: flex;
    position: relative;
    align-items: center;
    margin: 2rem 0 2rem 7rem;
    font-size: 3rem;
}

#top3-jobs > div > h3::before {
    counter-increment: top3-jobs;
    content: counter(top3-jobs);
    position: absolute;
    font-size: 8rem;
    left: -7rem;
    transform: rotate(5deg);
    font-style: italic;
}

/* Gallery */
.gallery-content{
    display: flex;
    justify-content: center;
    flex-flow: column;
    color: var(--primary-color);
}

.gallery-summary{
    margin-bottom: var(--gap);
}

.gallery-img{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(325px, 1fr));
    gap: 2rem;
}

.image-gallery{
    overflow: hidden;
    min-height: var(--container-images);
    min-width: var(--container-images);
    padding: 1.5rem;
}

.image-gallery > img{
    max-width: 100%;
    height: auto;
    transition: all 300ms ease-in-out;
}

.image-gallery > img:hover{
    transform: scale(1.2) translate(-3%, 3%) rotate(4deg);
}

/* Work */
.container-work{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}

.work-content{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

.recent-jobs{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.recent-jobs >div{
    padding: var(--gap);
}

/* Price */
.container-price{
    color: var(--primary-color);
}

.price-content{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#price-summary{
    margin: 0 0 var(--spacings-medium);
}

/* Contact */
.container-contact{
    background-image: url('../img/main-bg.svg');
    background-size: cover;
    color: var(--white-color);
}

.contact-content{
    display: flex;
    justify-content: center;
    flex-flow: column;
}

#contact-summary{
    display: grid;
    grid-template-columns: 1fr 1.5fr;
}

#contact-summary > div{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-flow: column;
    padding: var(--gap);
}

#contact-summary > div > h2{
    text-align: start;
}

#contact-summary > div > p{
    font-size: 2.5rem;
}

#contact-summary > div > img{
    height: auto;
    width: 100%;
}

#contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#contact-form legend {
    display: block;
    margin-bottom: 3rem;
    font-style: italic;
  }

#contact-form > div{
    padding: 2rem;
    width: 100%;
}

#contact-form > div:nth-child(2){
    width: 50%;
}

#contact-form > div:nth-child(3){
    width: 50%;
}

#contact-form textarea{
    resize: vertical;
    min-width: 100%;
    height: 30rem;
}

#contact-form > div > label{
    display: block;
}

#contact-form input[type='email'],
#contact-form input[type='password'],
#contact-form input[type='text'],
#contact-form textarea{
    font-size: 3rem;
    padding: 1.5rem 2rem;
    border: none;
    width: 100%;
    color: var(--primary-color);
    background-color: var(--white-color);
}

#contact-form button {
    border: none;
    background: none;
    border: 5px solid #fff;
    padding: 1.5rem 2rem;
    margin-bottom: 2rem;
    cursor: pointer;
    color: #fff;
    font-size: 3rem;
    transition: all 300ms ease-in-out;
}
  
#contact-form button:hover {
    color: var(--primary-color);
    background: #fff;
}
  

/* FOOTER */
footer{
    background-color: var(--white-color);
    color: var(--primary-color);
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 120rem;
    height: 10rem;
    margin: 0 auto;
}

@media (max-width: 60rem){
    #top3-jobs,
    .recent-jobs,
    #contact-summary{
        display: flex;
        flex-wrap: wrap;
    }

    .home-content{
        grid-template-columns: 1fr;
    }

    .intro-content{
        font-size: 2rem;
        padding: var(--gap);
    }

    #contact-form > div:nth-child(2),
    #contact-form > div:nth-child(3){
        width: 100%;
    }
}